.space-skin{
    background-image: url("../../media/space-skin/background-board-placement-space.jpg");
    background-size: 100%;
}

.space-skin .big li, .space-skin .medium li, .space-skin .small li, .space-skin .big ul, .space-skin .medium ul, .space-skin .small ul, .space-skin .place-boats-board{
    border-color: #ffffff;
}

.space-skin .buttons{
    background-image: url("../../media/space-skin/metalRoundVertical.png");
}

.space-skin .selected{
    background-color: #9370db;
}

.space-skin .boat-head{
    background-color: #663399;
}

.space-skin .tail{
    background-color: #800080;
}

.sea-skin{
    background-image: url("../../media/sea-skin/background board placement.jpg");
    background-size: 100%;
}

.sea-skin .big li, .sea-skin .medium li, .sea-skin .small li, .sea-skin .big ul, .sea-skin .medium ul, .sea-skin .small ul, .sea-skin .place-boats-board{
    border-color: #00008b;
}

.sea-skin .buttons{
    background-image: url("../../media/sea-skin/big-panel.png");
}

.sea-skin .selected{
    background-color: #00bfff;
}

.sea-skin .boat-head{
    background-color: #1e90ff;
}

.sea-skin .tail{
    background-color: #0000ff;
}

.bug-skin{
    background-image: url("../../media/bug-skin/background-boardplacement.jpg");
}

.bug-skin .big li, .bug-skin .medium li, .bug-skin .small li, .bug-skin .big ul, .bug-skin .medium ul, .bug-skin .small ul, .bug-skin .place-boats-board{
    border-color: #8b4513;
}

.bug-skin .buttons{
    background-image: url("../../media/bug-skin/wooden-panel.png");
}

.bug-skin .selected{
    background-color: greenyellow;
}

.bug-skin .boat-head{
    background-color: #416a02;
}

.bug-skin .tail{
    background-color: green;
}